<nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">

                        <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="__ADMIN__/img/profile_small.jpg" />
                             </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                                <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Beaut-zihan</strong>
                             </span>  <span class="text-muted text-xs block">超级管理员 <b class="caret"></b></span> </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="form_avatar.html">修改头像</a>
                                </li>
                                <li><a href="profile.html">个人资料</a>
                                </li>
                                <li><a href="contacts.html">联系我们</a>
                                </li>
                                <li><a href="mailbox.html">信箱</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="login.html">安全退出</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            H+
                        </div>

                    </li>

                    <li>
                        <a href="index.html#"><i class="fa"></i> <span class="nav-label">文章管理</span><span class="fa"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="__MODULE__/Article/add">发表文章</a>
                            </li>
                            <li><a href="__MODULE__/Article/index">文章列表</a>
                            </li>
                            <li><a href="__MODULE__/Category/index">分类列表</a>
                            </li>
                            <li><a href="__MODULE__/Category/add">添加分类</a>
                            </li>
                            <li><a href="__MODULE__/Source/index">出处列表</a>
                            </li>
                            <li><a href="__MODULE__/Source/add">添加出处</a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>

            </div>
        </nav>
