<!--head start-->
<include file="Public/head"/>

<link href="__HOME__/css/learn.css" rel="stylesheet">
<link href="__HOME__/css/about.css" rel="stylesheet">
<style type="text/css">
    .bloglist h3:first-child a {
        color: #f00;
        /*background: url(/skin/blog/images/new.gif) no-repeat 330px;*/
        display: block;
    }
    .bloglist figure img {
        padding: 4px;
        border: #f4f2f2 1px solid;
        width: 175px;
    }
    .bloglist figure span {
        width:72%;
        float: right
    }
    a.readmore {
        background: #fd8a61;
        color: #fff;
        padding: 5px 10px;
        float: right;
        margin: 20px 0 0 0
    }
</style>
<!--head end-->

<!--top start-->
<include file="Public/top"/>
<!--top end-->

<div class="article">
    <div class="content">
        <div class="topblog" style="height: auto">
            <h3><p><?php echo $cat_name?></p></h3>
        </div>
        <div class="bloglist">
            <!--article begin-->
            <?php foreach($list as $v1):?>
            <ul>
                <h3><a href="#" ><?php echo '【',$v1['sre_name'],'】',$v1['title']?></a></h3>
                <figure><img src="__PUBLIC__/Upload/<?php echo $v1['img_path']?>" />
                <span style="width:72%;float: right">
                    <p><?php echo mb_substr($v1['excerpt'],0,200),'...'?></span></p>
                    <a title="月哥哥的文章" href="/index.php/Home/Article/detail?id=<?php echo $v1['article_id']?>"  target="_blank" class="readmore">阅读全文>></a>
                    </span></figure>

                <p class="dateview"><span><?php echo date("Y-m-d",$v1['add_time'])?></span><span>作者：<?php echo $v1['author']?></span><span>个人博客：[<a href=/download/div/><?php echo $v1['cat_name']?></a>]</span></p>
            </ul>
            <?php endforeach;?>
            <!--article end-->




        </div>
    </div>
    <aside class="navsidebar">
       <!-- <div style="margin-top: 60px">
            <input type="text" name="q" class="bdcs-search-form-input" id="bdcs-search-form-input" placeholder="请输入关键词" style="height: 28px; line-height: 28px; width: 188px;margin-right: 10px;font-size: 14px;color: #a6a6a6">
            <input type="submit" class="bdcs-search-form-submit " id="bdcs-search-form-submit" value="搜索" style="border-color: #76923c;height: 28px;width: 50px;font-size: 14px;border-radius: 0px;background-color: #9bbb59">
        </div>-->
        <div>
          <!--  <div class="rnav">
                <h2>栏目导航</h2>
                <ul>
                    <?php foreach($left_list as $v):?>
                        <li><a href="/Home/Article/part2/<?php echo $v['cat_id']?>"><?php echo $v['cat_name']?></a></li>
                    <?php endforeach;?>


                </ul>
            </div-->>
        <!--    <div class="rnavs">
                <h2>栏目导航</h2>
                <ul>
                    <?php foreach($left_list as $v):?>
                    <li><a href="/Home/Article/part2/<?php echo $v['cat_id']?>"><?php echo $v['cat_name']?></a></li>
                    <?php endforeach;?>
                </ul>
            </div>-->
        </div>
        <h2><p>最新文章</p></h2>
        <ul class="news">
            <foreach name="news" item="news">
                <li><a href="/">{$news.title}</a></li>
            </foreach>


        </ul>
        <h2><p>点击排行</p></h2>
        <ul class="news">
            <foreach name="hots" item="item">
                <li><a href="/">{$item.title}</a></li>
            </foreach>

        </ul>
      <!--  <h2><p>文章归档</p></h2>
        <ul class="news">
            <li><a href="/">2008 年三月</a></li>
            <li><a href="/">2008 年四月</a></li>
            <li><a href="/">2008 年六月</a></li>
        </ul>-->

        <!--<div class="share">
            <h2>www.baidu.com</h2>
        </div>-->
    </aside>
</div>
<div id="copright">Design by <a href="#" target="_blank">yuegege</a></div>
</body>
</html>

